<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Trivia</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container mt-5">
    <h5 class="display-6 mb-3">
        {{ num }} / {{ len }}
    </h5>
    <div class="card rounded-0">
        <div class="card-header">
            {{ question.category|safe }}
        </div>
        <div class="card-body">
            <p class="lead">
                {{ question.question|safe }}
            </p>
            <form action="/check" method="post">
                {% for answer in answers %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="answer" value="{{ answer }}">
                    <label class="form-check-label">
                        {{ answer|safe }}
                    </label>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-secondary lead rounded-0 col-2 mt-3">
                    Next
                </button>
            </form>
        </div>
    </div>
</div>

</body>
</html>